/* main body settings */
body{
    font-size: 18pt;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: sans-serif
 
}
/* navigation links in the navbar */

.nav-link{
    font-size: 28pt;
    color: white;
    margin-top: 50pt;
    text-shadow: 7px 7px 6px rgb(0, 0, 0);   
}

/* navbar body */

.navbar{
    background-color:rgb(14, 14, 83);
    max-height: 190px;
    border-bottom: white;
    border-width: 5px;
    border-style: solid;
}

/* Image for logo */
#logo {
    max-height: 140px;   
} 

/* text on logo */
h1 {
    font-size: 55pt;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50pt;
    text-shadow: 2px 2px 0px rgb(24, 161, 24);   
}

/* SLIDESHOW */

/* height of slideshow */
#nav-address {
    margin-bottom: 100px ;
}

/* slides in slideshow */
.d-block {
    max-height: 600px;
    max-width: 1200px;
    align-content: stretch; 
    width: 40%;
    margin: auto; 
}

/* slideshow button size */
.carousel-control-prev-icon {
    height: 50%;
    top: 33%;
    width: 60px;
}

.carousel-control-next-icon {
    height: 50%;
    top: 33%;
    width: 60px;
}


/* END SLIDESHOW */

/* CARDS */

 /* area behind cards */
 .carousel-inner {
    background-color: rgb(0, 0, 0);
}






/* area behind cards */
.scrolling-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: 	rgb(0, 0, 0);
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}
    
/* individual cards */
.card {
      height: 520px;
      width: 500px;
      background-color: black;
      margin-top: 20px;
      margin-bottom: 20px;
      border-style: solid;
      border-width: 8px;
      border-color: rgb(50, 182, 209);
      border-radius: 10px;
       /* neon glow on border */
      -webkit-box-shadow:0 0 20px blue; 
      -moz-box-shadow: 0 0 20px blue; 
       box-shadow:0 0 30px rgb(50, 182, 209);
      
    }


/* sale card */
.sale {
    font-size: 35px;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #8d8d9e;
    line-height: 48px;
}

/* contest card */
.winner {
    font-size: 24px;
    text-shadow: 2px 2px 8px #1c67f3;
}

/* care card */
.care {
    font-size: 27px;
    text-shadow: 2px 2px 8px #1c67f3;
    line-height: 30px;
}


/* FOOTER */


/* container for footer info */
.containerb {
    color: white;
    background-color: rgb(14, 14, 83);
    
    
    
}

 /* mission statement text */

 p{
    /* font-size: 20pt; */
    color: rgb(200, 200, 183);
    text-align: center;
 }





/* text in the footer */
h6{
    font-size: 24pt;
    margin-bottom: 10px;
    
}

/* copyright container */
.footer-copyright{
    background-color: rgb(14, 14, 83);
    color: white;
}

/* div holding video */
.video-row {
background: black;
display: flex;
justify-content: space-evenly;
border-bottom: 5px solid white;

}

/* blue divider */
.textabove {
    text-align: center;
    background-color: rgb(14, 14, 83);
    border-bottom: 5px solid white;
    color: rgb(14, 14, 83);
    height: 50px;
}

/* youtube video */
.tube {
    border-style: solid;
    border-width: 8px;
    border-color: rgb(50, 182, 209);
    border-radius: 5%;
    box-shadow:0 0 30px rgb(50, 182, 209);    
    margin: 40px;
}

/* other blue divider */
.textaboveone {
    text-align: center;
    background-color: rgb(14, 14, 83);
    border-top: 5px solid white;
    color: rgb(14, 14, 83);
    height: 50px;
}

/* div containing words on video row */
 .wordsbox {
    width:800px;
     max-height: 315;
     border-style: solid;
     border-width: 8px;
     border-color: rgb(230, 62, 62);
     border-radius: 20px;
     box-shadow:0 0 30px rgb(155, 43, 43);    
     margin: 40px;
     
    
}
/* covid-19 */
h3 {
    font-size: 50pt;
    text-align: center;
    margin-top: 10px;
    color: red;
}
/* other text in red box */
h4 {
    font-size: 30px;
    text-shadow: 2px 2px 8px #1c67f3;
    line-height: 35px;
    color: white;
    text-align: center;
    max-width: 600px;
    margin-left: 55px;
}

/* items listed in covid-19 */
.list {
    font-size: 30px;
    text-shadow: 2px 2px 8px #1c67f3;
    line-height: 40px;
    color: rgb(255, 135, 135);   
    max-width: 600px;
    margin-left: 70px;

}

.underline {
    border-top: 1px solid rgb(241, 149, 149);
    width: 90%;
}
/* take the tour text */
#vidtour {
    font-size: 45px;
    text-shadow: 2px 2px 8px #1c67f3;
    color:rgb(50, 182, 209);
    margin-left: 32px;
    margin-bottom: 20px;
}




/*  bottom pic scroll */

.scrollmenu {
    background-color: rgb(0, 0, 0);
    overflow: auto;
    white-space: nowrap;
    height: 380px;
}

/* height of scrollbar */
.scrollmenu::-webkit-scrollbar {
        width: 100px;
        height: 45px;
        

}    
       
      /* Track */
      
.scrollmenu::-webkit-scrollbar-track {
        background: rgb(115, 116, 209);
        opacity: 0.2;
      border-top: 5px solid white;
      border-bottom: 5px solid white;
 }      
      /* Handle */
      
.scrollmenu::-webkit-scrollbar-thumb {
        width: 700px;
        background: rgb(255, 255, 255); 
        max-height: 40px;
      }
      
      /* Handle on hover */
      
.scrollmenu::-webkit-scrollbar-thumb:hover {
        background: #1c67f3;
      

      }
  
  
.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
.scrollmenu a:hover {
    background-color: rgb(14, 14, 83);
  }


.scrollmenu img {
    background-color: rgb(7, 0, 0)0, 10, 10;
    -webkit-box-shadow:0 0 20px rgb(50, 182, 209); 
    -moz-box-shadow: 0 0 20px rgb(50, 182, 209); 
    box-shadow:0 0 30px rgb(50, 182, 209);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(50, 182, 209);
    border-radius: 50%;
    margin-top: 26px;
    margin-right: 15px;
}


.textabovethree {
    padding-top: 7px;
    font-size: 40pt;
    text-align: center;
    background-color: rgb(14, 14, 83);
    border-bottom: 5px solid white;
    color: rgb(50, 182, 209);
    height: 100px;
    text-shadow: 0px 0px 6px rgb(47, 248, 255);   
    
}

