/* main body settings */
body{
    font-size: 18pt;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: sans-serif;
    background-color: black;
 
}
/* navigation links in the navbar */

.nav-link{
    font-size: 28pt;
    color: white;
    margin-top: 50pt;
    text-shadow: 7px 7px 6px rgb(0, 0, 0);   
}

/* navbar body */

.navbar{
    background-color:rgb(14, 14, 83);
    max-height: 190px;
    border-bottom: white;
    border-width: 5px;
    border-style: solid;
}

/* Image for logo */
#logo {
    max-height: 140px;   
} 

/* text on logo */
h1 {
    font-size: 55pt;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50pt;
    text-shadow: 2px 2px 0px rgb(24, 161, 24);   
}


/* FOOTER */


/* container for footer info */
.containerb {
    color: white;
    background-color: rgb(14, 14, 83);
    
    
}

 /* mission statement text */

p {
    /* font-size: 20pt; */
    color: rgb(200, 200, 183);
    text-align: center;

 }


/* text in the footer */
h6{
    font-size: 24pt;
    margin-bottom: 10px;
    
}

/* copyright container */
.footer-copyright{
    background-color: rgb(14, 14, 83);
    color: white;
}





/*SHopping*/




.container-one{
    width: 72%;
    /* padding: 20px; */
    background-color: #000000;
    margin: auto;
    
    
}
.flex-container-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

i{
    font-size: 30px;
    padding: 2px;
}
/* above is the same across all css */
#pics {
    width:  250px;
    max-height: auto;
    margin-bottom: 10px;
}
.container-two{
    display: flex;
    direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
}
.product{
    margin-top: 30px;
    width: 25%;
    height: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 0, 0)0, 10, 10;
    border-style: solid;
    border-width: 8px;
    border-color: rgb(50, 182, 209);
    border-radius: 5%;
    box-shadow:0 0 15px rgb(50, 182, 209);}

.product:hover {
    
    box-shadow:0 0 45px rgb(50, 182, 209);
}

.hoverProduct{
    display: none;
}



span:hover + .hoverProduct{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 2%;
}

      
    

.hoverProduct:hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 2%;
}

/* text on top of card */
h5{
    font-size: 35px;
    margin-top: 12px;
    text-shadow: 2px 2px 8px #1c67f3;
    color: rgb(237, 252, 255);
}

/* price on card */
.product {
    font-size: 35px;
    text-shadow: 2px 2px 8px #1c67f3;
    color: rgb(194, 243, 253);

}

/* text on expand of card*/
.hoverProduct p{
    color:rgb(231, 246, 248);
    text-shadow: 2px 2px 8px #1c67f3;
    font-size: 15pt;
    
    
 }

.btn {
    margin-bottom: 30px;
    margin-top: 25px;
    -webkit-box-shadow:0 0 20px rgb(50, 182, 209); 
    -moz-box-shadow: 0 0 20px rgb(50, 182, 209); 
    box-shadow:0 0 10px rgb(50, 182, 209);
    border-style: solid;
    border-width: 2px;
    border-color: rgb(50, 182, 209);
    /* border-color: rgb(235, 135, 122); */
    border-radius: 5px;
    color: rgb(117, 33, 33);
    color: rgb(89, 224, 236);
    font-weight: bold;
    width: 200px;
    font-size: 15pt;

}

.socialb {
    text-align: center;
    margin-right: 0px;
    border-top: 5px solid rgb(255, 255, 255);
}


  

